.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.box-btn{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.settings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-name{
  margin-top: 24px;
  background-color: white;
  width: 200px;
  height: 40px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  transform: skewY(-11deg);
}

.box-description{
  line-height: 32px;
  margin-bottom: 2px;
  margin-top: 124px;
  margin-left: 16px;
  background-color: white;
  width: 200px;
  height: 244px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
}

.header{
  width: 100vw;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 800px){
  .header{
      width: 800px;
  }
}

@media (max-width: 600px){
  .header{
      width: 600px;
  }
}

.card {
  width: 250px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 12px solid rgb(99, 99, 99);
  border-radius: 8px;
  margin-top: 32px;
  padding-bottom: 32px;
}


.btn-setting{
  margin-top: 8px;
  margin-left: 8px;
}

.btn-setting {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.btn-setting .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.btn-setting:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.btn-setting:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.btn-setting:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.all-heroes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.hero-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 12px;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.group        { 
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#464646; 
  font-size:16px;
  font-weight: bold;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

.settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: white;
  width: 500px;
}

.show-hero{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

h4{
  font-weight: 800;
  text-decoration: underline;
}


.hero-description{
  width: 250px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 12px solid rgb(99, 99, 99);
  border-radius: 8px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-card{
  background-color: rgba(255, 255, 255, 0.855);
  width: 250px;
  height: auto;
  border: 2px solid black;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;

}

.overlay{
  background-color: rgba(255, 255, 255, 0.537);
  padding-bottom: 32px;
}

.create{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
